:root {
  --color-neutral-0: white;
  --color-neutral-20: #fafafb;
  --color-neutral-40: #f3f3f3;
  --color-neutral-50: #e9e9eb;
  --color-neutral-60: #e6e6e8;
  --color-neutral-80: #dcdcdd;
  --color-neutral-100: #d5d5d8;
  --color-neutral-150: #ceced0;
  --color-neutral-200: #c1c1c5;
  --color-neutral-300: #9b9ba0;
  --color-neutral-400: #8b8b92;
  --color-neutral-500: #66666c;
  --color-neutral-600: #59595f;
  --color-neutral-700: #4d4d51;
  --color-neutral-800: #3d3d41;
  --color-neutral-900: #29292b;
  --color-neutral-950: #1f1f20;
  --color-neutral-1000: black;
  --color-primary-0: white;
  --color-primary-50: #e4f7f4;
  --color-primary-100: #bde7e2;
  --color-primary-200: #98d6d0;
  --color-primary-300: #66c0b8;
  --color-primary-400: #33aba0;
  --color-primary-500: #009688;
  --color-primary-600: #007166;
  --color-primary-700: #005a52;
  --color-primary-800: #004b44;
  --color-primary-900: #002d29;
  --color-primary-950: #001e1b;
  --color-primary-1000: black;
  --color-accent-50: #d6e9f7;
  --color-accent-100: #a6ceed;
  --color-accent-200: #6aade1;
  --color-accent-300: #2f8cd5;
  --color-accent-400: #2880c5;
  --color-accent-500: #1665a3;
  --color-accent-600: #114c7a;
  --color-accent-700: #0d3d62;
  --color-accent-800: #0b3352;
  --color-accent-900: #071e31;
  --color-accent-900-alpha-90: rgba(7, 30, 49, 0.9);
  --color-accent-950: #041421;
  --color-success-50: #def8d7;
  --color-success-100: #b7efa7;
  --color-success-200: #87e56c;
  --color-success-300: #58da31;
  --color-success-400: #4cd025;
  --color-success-500: #37af14;
  --color-success-600: #29830f;
  --color-success-700: #21690c;
  --color-success-800: #1c580a;
  --color-success-900: #113506;
  --color-success-950: #0b2304;
  --color-success-1000: black;
  --color-info-50: #daf2fd;
  --color-info-100: #aee2fa;
  --color-info-200: #77cff6;
  --color-info-300: #41bbf2;
  --color-info-400: #30b5f1;
  --color-info-500: #03a9f4;
  --color-info-600: #027fb7;
  --color-info-700: #026592;
  --color-info-800: #02557a;
  --color-info-900: #013349;
  --color-info-950: #012231;
  --color-info-1000: black;
  --color-warning-50: #fcecde;
  --color-warning-100: #f8d5b6;
  --color-warning-200: #f3b986;
  --color-warning-300: #ee9d56;
  --color-warning-400: #ec9446;
  --color-warning-500: #f57f17;
  --color-warning-600: #c15f08;
  --color-warning-700: #9a4c07;
  --color-warning-800: #803f06;
  --color-warning-900: #4d2603;
  --color-warning-950: #331902;
  --color-warning-1000: black;
  --color-error-50: #fccfd8;
  --color-error-100: #f996a8;
  --color-error-200: #f6506f;
  --color-error-300: #f00d36;
  --color-error-400: #da0b31;
  --color-error-500: #b00020;
  --color-error-600: #840018;
  --color-error-700: #6a0013;
  --color-error-800: #580010;
  --color-error-900: #35000a;
  --color-error-950: #230006;
  --color-error-1000: black;
  --color-focus-50: #fdf4da;
  --color-focus-100: #fbe6ad;
  --color-focus-200: #f8d576;
  --color-focus-300: #f5c43f;
  --color-focus-400: #f4bf2d;
  --color-focus-500: #f7b500;
  --color-focus-600: #b98800;
  --color-focus-700: #946d00;
  --color-focus-800: #7c5b00;
  --color-focus-900: #4a3600;
  --color-focus-950: #312400;
  --color-focus-1000: black;
}
